body {
    width: 100%;
    height: 100%;
	background-color:black;
	margin: 0 auto;
}
<!---NavBar---->

.navmenu .navbar-brand {
  height: 80px;
}

.navmenu .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.navmenu .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

h4{
	margin-top:8%;
	color:white;
	font-weight:bold;
}

h3{
	color:white;
	
}
#myheader{
	margin-top:7%;
}

.brand-name {
 font-family: 'Josefin Slab', serif;
 font-size: 23px;
 font-weight: bold;
 color: #fff;
 text-decoration: none;
/*eiad added*/
 height:100%; 
}

.container {
padding-top: 5px;
width: 100%;
}

.navbar-custom {
    font-size: 20px;
    background-color: #FFF;
}
.carousel-inner{
	width: 100%;
}


.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  top: -200px;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: all 0.1s ease-out 0.5s;
  transition: all 0.1s ease-out 0.5s;
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  top: 0px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.hovereffect img {
  display: block;
  position: relative;
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 17px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect:hover h2 {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 2px;
  text-transform: uppercase;
  margin: 10px 0 0 0;
  background-color: transparent;
  -webkit-transform: translateY(-200px);
  -ms-transform: translateY(-200px);
  transform: translateY(-200px);
  color: #000;
  border: 1px solid #000;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect:hover a.info {
  -webkit-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
  box-shadow: 0 0 5px #000;
  color: #000;
  border: 1px solid #000;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.add-on .input-group-btn > .btn {
  border-left-width:0;left:-2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
/* stop the glowing blue shadow */
.add-on .form-control:focus {
 box-shadow:none;
 -webkit-box-shadow:none; 
 border-color:#cccccc; 
}
#btnsubmit{
	display: inline-block;
    font-size: 16px;
    color:white;
	background-color:black;
    border: 1px solid white;
    margin: 0 auto;
     font-weight: bold;
}
#btnsubmit:hover {
    background-color: #D3D3D3; /* Grey */
    color: black;
	border:1px solid white;
}
#btnDropbox{
	width: 360px;
	padding-left:60px;
}
.caret{
	float:right;
}
#srch-term{
	width: 360px;;
}
#btnCompare{
	background-color:black;
	color:white;
	font-weight:bold;
	margin-left:40%;
	width:15%;
	border:1px solid grey;
	font-colr:bold;
	
}
#btnCompare:hover{
	background-color:#D3D3D3; /* Grey */
	color:black;
}
.contact{
	color:white;
	font-weight:bold;
}
